{% extends "base.html" %}
{% block title %}Status page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                    <div class="alert {{category}}" role="alert">{{message}}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if token %}
        <a class="btn btn-success" href="{{ url_for("snooze", token=token) }}" role="button">Snooze (1h)</a>
        <a class="btn btn-success" href="{{ url_for("snooze", token=token, duration=7200) }}" role="button">Snooze (2h)</a>
        <a class="btn btn-success" href="{{ url_for("snooze", token=token, duration=14400) }}" role="button">Snooze (4h)</a>
        <br/>
        <a class="btn btn-danger" href="{{ url_for("unsnooze", token=token) }}" role="button">Unsnooze</a>
    {% endif %}
{% endblock %}
